.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: lightgray;
  height: 100vh;
}

.App-logo {
  height: 20vh;
}

.App-header {
  color: red;
}

.App-main {
  display: flex;
}

.Main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 50%;
}

.Menu-type {
  font-weight: bold;
  text-decoration: underline;
}

.App-footer {
  color: green;
}