body {
    background-color: lightblue;
}

.App {
  text-align: center;
}

.Main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Controls-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Shoes-card {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    width: 600px;
    box-shadow: 0 0 25px rgb(231, 231, 231);
}

.Shoes-card img {
    width: 140px;
    object-fit: cover;
}

.Shoes-card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Shoe-card-btn-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.Shoe-card-btn-group button {
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: #f2f2f2;
}

